 <div class="canteen_main_container canteen_background">
    <div class="canteen_pt_12 canteen_d_flex justify-content-between align-items-center canteen_p_16">
        <div class="canteen_d_flex align-items-center">
          
            <h3 class="canteen_text_white"> Canteen </h3>
        </div>
        <div class="canteen_d_flex align-items-center justify-content-start ">
            <img src="../assets/images/search.png" width="50" height="50">Search
           <div class="canteen_m_24" routerLink="/order/preview">Preview</div>
           <div class="canteen_m_24" routerLink="/order/menu-list">Menu list</div>
            <div class="canteen_m_24"routerLink="/admin/menu">Day Menu</div>
            <div class="canteen_m_24">Contact Us</div>
            </div>
           
        <div  class="canteen_d_flex align-items-center justify-content-end">
            <img src="../assets/images/bag.png" routerLink="/order/cart" alt="login" width="50"> 
      
        <div class="canteen_m_24"routerLink="/signup">Sign In </div>
    </div>
    </div> 
    <div>
        <img src="https://images.unsplash.com/photo-1657299156538-e08595d224ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="" width="100%">
    </div>

    <h3 style="margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); color: white;">Not much time left to try a fresh new flavor of chicken on the
        grill. Made with garlic, guajillo peppers, and fresh lime, it’s only available for a limited time.
    </h3>
    <!-- <div class="canteen_d_flex align-items-center justify-content-center canteen_mt-12">
        <h5 class="canteen_m-12">JOIN CHIPOTLE REWARDS. UNLOCK FREE CHIPOTLE.</h5>
        <button class="canteen_black_btn black-btn ">Create An Account</button> <span class="canteen_m-12">OR</span>
        <button class="canteen_black_btn outline-btn">Sign In</button>
    </div> -->
    <!-- <div class="">
        <div class="canteen_d_flex justify-content-between align-items-center">
            <div>
                <img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/bowl.jpg" alt="" width="300">
                <div class="canteen_text_center">Roti</div>
            </div>
            <div>
                <img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/salad.jpg" alt="" width="300">
                <div class="canteen_text_center"> chapathi </div>
            </div>
            <div class="canteen_text_center">
                <img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/lifestyle.png" alt=""
                    width="300">
                <div class="canteen_text_center">
                    chapati
                </div>
            </div>
            <div>
                <img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/salad.jpg" alt="" width="300">
                <div class="canteen_text_center">chapati</div>
            </div>
        </div>
        <div class="canteen_d_flex justify-content-between align-items-center">
            <div>
                <img src="https://www.chipotle.com/content/dam/chipotle/global/menu/meal-types/cmg-10000-quesadilla/web-desktop/order.png"
                    alt="" width="300">
                <div class="canteen_text_center">
                    vegitable
                </div>
            </div>
            <div>
                <img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/salad.jpg" alt="" width="300">
                <div class="canteen_text_center">
                    Mix-veg
                </div>
            </div>
            <div>
                <img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/bowl.jpg" alt="" width="300">
                <div class="canteen_text_center">Name </div>

            </div>
            <div>
                <img src="https://www.chipotle.com/content/dam/poc/order/images/entrees/tacos.jpg" alt="" width="300">
                <div>
                    Name
                </div>
            </div>
        </div>
    </div>

    <div class="canteen_d_flex justify-content-between align-items-center">
        <div class="canteen_border canteen_m_64 canteen_p_16 ">
            <div>
                <h2>Chapati</h2>
                <p>Description Think your Chipotle IQ is a little extra? Put your knowledge to the test from 8/22-8/26
                    for the
                    chance to win one of 500,000 Buy 1, Get 1 entrée codes or a $500 limited edition Chipotle gift card.
                </p>
            </div>
            <div>
                <img src="https://chipotlestrgprdcentral.blob.core.windows.net/assets/menuinnovation/pcms/497c2d8b-403a-4d57-87af-35ebf13a95f7/3694e9d5-8023-43f2-a275-32ee639ac6cc.jpg"
                    alt="" width="340">
            </div>
        </div>
        <div class="canteen_border canteen_m_64 canteen_p_16">
            <div class="">
                <h2>Chapati</h2>
                <p>Description Think your Chipotle IQ is a little extra? Put your knowledge to the test from 8/22-8/26
                    for the
                    chance to win one of 500,000 Buy 1, Get 1 entrée codes or a $500 limited edition Chipotle gift card.
                </p>
            </div>
            <div>
                <img src="https://chipotlestrgprdcentral.blob.core.windows.net/assets/menuinnovation/pcms/d14b1ade-2137-4580-8bc5-8992145c07d0/fbc9dd71-f006-45a0-a6f6-2ee989060a67.jpg"
                    alt="" width="340">
            </div>
        </div>
        <div class="canteen_border canteen_m_64 canteen_p_16">
            <div>
                <h2>Chapati</h2>
                <p>Description Think your Chipotle IQ is a little extra? Put your knowledge to the test from 8/22-8/26
                    for
                    the
                    chance to win one of 500,000 Buy 1, Get 1 entrée codes or a $500 limited edition Chipotle gift card.
                </p>
            </div>
            <div class="canteen_p_12">
                <img src="https://chipotlestrgprdcentral.blob.core.windows.net/assets/menuinnovation/pcms/adb6dddc-9817-4b83-bed3-7d9965f929fb/2f3c0687-377c-46ed-90f0-10ed037fd0a7.jpg"
                    alt="" width="340">
            </div>

        </div>
    </div>
</div> -->
<router-outlet></router-outlet>
<div class="canteen_background canteen_p_16">
    <div class="container">
    <div class="canteen_d_flex align-items-center justify-content-around pt-3">
        <h4>CONTACT SUPPORT </h4>
        <h4>CAREERS</h4>
        <h4>GOODS & GIFT CARDS</h4>
        <h4>FUNDRAISING</h4>
    </div>
    <div class="container canteen_footer">
    <div class="grid_wrapper canteen_mt_24 canteen_mb_12">
        <h5>ABOUT</h5>
        <h5>CONNECT WITH US</h5>
    </div>

    <div class="canteen_d_flex align-items-center justify-content-start pb-3">
        <div class=" canteen_mr_32">
            <div>Our Values </div>
            <div> Health and Safety </div>
            <div> All Locations </div>
        </div>
        <div class="canteen_mr_12 canteen_ml_12">
            <div>News and Events</div>
            <div>Cultivate Foundation</div>
            <div>Sustainability</div>
        </div>
        <div class="canteen_ml_12">
            <div>Investors</div>
            <div>Pizzeria Locale</div>
            <div>Do Not Sell My Information</div>
        </div>
    </div>
    </div>
    </div>
</div>
<!-- <div class="container canteen_d_flex justify-content-start canteen_ml_32 ms-5">
       About
    </div>

    <div class="canteen_m-12">
        <div class="canteen_d_flex align-item-center justify-content-between canteen_p_16 canteen_mt-12">
            <div class="canteen_d_flex  justify-content-between">
               
                <div class="canteen_mt_24 canteen_mr_32">
                    <div>Our Values </div>
                    <div> Health and Safety </div>
                    <div> All Locations </div>
                </div>

                <div class="canteen_mt_24 canteen_mr_12 canteen_ml_12">
                    <div>News and Events</div>
                    <div>Cultivate Foundation</div>
                    <div>
                        Sustainability
                    </div>
                </div>

                <div class="canteen_mt_24 canteen_ml_12">
                    <div>Investors</div>
                    <div>Pizzeria Locale</div>
                    <div>
                        Do Not Sell My Information
                    </div>
                </div>
            </div>
            <div>
                CONNECT WITH US
                <img src="../assets/images/bag.png" alt="" width="100">
            </div>
        </div>
    </div> -->